/* Add CSS styling here */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
    width: 100%;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

header {
    background-color: gray;
    height: 50%;
    /* border: hotpink 2px solid; */
    padding-bottom: .5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header h1 {
    /* border: hotpink 2px solid; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OCR A Std, monospace;
    font-size: xx-large;
    padding: 1%;
}
.header_box{
    /* border: hotpink 2px dotted; */
    width:70%;
}
header img {
    height: 5%;
    width: 5%;
}
nav {
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    margin: 0 20%;
    align-content: center;
    align-items: center;
    /* border: black 2px dotted; */
}
nav a {
    border: gray 3px outset;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: .5% 4%;
}
nav a:hover {
    color: black;
    border: gray 3px inset;
}
.about_me_container {
    display: flex;
    /* border: hotpink 2px dotted; */
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;;
}
.about_me_container img {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    /* border: hotpink 2px dotted; */
}
#html_img {
    -webkit-animation: rotation 5s infinite linear;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(-359deg);
    }
}
#css_img {
    -webkit-animation: rotation 5s infinite linear;
}
#about_me{
    display: column flex;
    align-items: space-between;
    width: 50%;
    /* border: hotpink 2px dotted; */
}
#about_me h2 {
    font-size: x-large;
    font-family: OCR A Std, monospace;;
    /* border: hotpink 2px dotted; */
}
#about_me a {
    color: blue;
    text-decoration: none;
    /* border: hotpink 2px dotted; */
}
#about_me p {
    /* border: hotpink 2px dotted; */
    font-family: FreeMono, monospace;
}
.about_me_class {
    padding-top: 2%;
    padding-bottom: 2%;
}
footer {
    /* border: hotpink 2px dotted; */
    bottom: 0;
    width: 100%;
    height: 12vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer h3 {
    font-family: OCR A Std, monospace;
    font-size: large;
    padding-top: .7%;
}
.gallery {
    /* border:black 3px dotted; */
    display: flex;
    justify-items: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 4%;
    padding-top: 4%;
}
.gallery img{
    /* border: hotpink 2px dotted; */
    width: 20%;
    padding: 2%;
    border-radius: 50px;
}
.gallery img:hover{
    /* border: hotpink 2px dotted; */
    background-color: lightblue;
    border-radius: 25px;
    border: blue 4px dotted;
    opacity: .6;
}
footer div {
    /* padding: .7%; */
}
html {
    /* border: 2px dotted hotpink; */
    /* font-size:62.5%; */
}
footer a {
    text-decoration: none;
    color: white;
    border: gray 3px outset;
    border-radius: 15px;
    padding: .5% 4%;
    margin: 0 40%;
}
footer a:hover {
    text-decoration: none;
    color: black;
    border: gray 3px inset;
    border-radius: 15px;
    padding: .5% 4%;
    margin: 0 40%;
}

@media(max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        height: 40%;
    }
    .about_me_container {
        display: flex;
        flex-direction: column;
        height: 40%;
    }
    .about_me_container img {
        width: 30%;
    }
    .about_me_container #about_me {
        text-align: center;
    }
    .gallery {
        justify-content: center;
    }
    .gallery img {
        /* border: hotpink 2px dotted; */
        width: 40%;
        /* padding: 2%; */
    }
}

@media(max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        height: 40%;
    }
    .about_me_container {
        display: flex;
        flex-direction: column;
        height: 40%;
    }
    .about_me_container img {
        width: 30%;
    }
    .about_me_container #about_me {
        text-align: center;
    }
    .gallery {
        justify-content: center;
    }
    .gallery img {
        /* border: hotpink 2px dotted; */
        width: 40%;
        /* padding: 2%; */
    }
}